asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-cors-headers
django-extensions
djangorestframework
graphviz
idna
mysqlclient
oauthlib
packaging
Pillow
pycparser
pydotplus
PyJWT
pyparsing
python-decouple
python3-openid
pytz
requests
requests-oauthlib
sqlparse
typing_extensions
urllib3
gunicorn
